@font-face {
  font-family: DancingScript-B;
  font-style: normal;
  src: url("/app/fonts/DancingScript-Bold.ttf");
}
@font-face {
  font-family: DancingScript-R;
  font-style: normal;
  src: url("/app/fonts/DancingScript-Regular.ttf");
}
@font-face {
  font-family: Cantarella-B;
  font-style: normal;
  src: url("/app/fonts/Cantarella-Bold.ttf");
}
@font-face {
  font-family: Cantarella-R;
  font-style: normal;
  src: url("/app/fonts/Cantarella-Regular.ttf");
}
@font-face {
  font-family: Cantarella-O;
  font-style: normal;
  src: url("/app/fonts/Cantarella-Oblique.ttf");
}
#ui {
  height: 100%;
  font-family: Cantarella-R, sans serif;
  font-size: 0.9em;
}
#logo {
  font-family: DancingScript-R, sans serif !important;
  font-size: 1.5em;
}
nav a {
  color: #258;
  background-color: #fff;
  border: 0;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 15px 5px 0px;
  color: #258;
}
nav a hover {
  background-color: #f00;
}
@font-face {
  font-family: DancingScript;
  font-style: normal;
  src: url("/app/fonts/DancingScript-Bold.ttf");
}
#logged {
  text-align: center;
}
header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #258;
  color: #fff;
}
#log_button,
#close_div {
  cursor: hand;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer {
  width: 100%;
  text-align: right;
  font-size: 0.8em;
  padding: 10px;
  background-color: #258;
  color: #fff;
}
.sign {
  font-size: 0.8em;
  margin-top: 10px;
}
#form_authentication {
  position: relative;
}
#fermer_authentication_form {
  position: absolute;
  right: 0px;
  top: 5px;
}
.form_authentication-auth-button {
  width: 100%;
  background-color: #fff;
  border: 0;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 15px 5px 0px;
  color: #258;
}
.form_authentication-creer-compte-button {
  text-align: center;
}
.form_authentication-creer-compte-button button {
  padding: 5px;
}
.form_creer-compte-button {
  text-align: right;
}
.form_creer-compte-button button {
  padding: 5px;
}
#pseudo,
#mdp,
#email,
#confirmer_mdp {
  width: 100%;
  margin: margin_s;
  margin-bottom: 15px;
}
.mdp_oublie {
  font-size: 0.8em;
  float: right;
  margin-right: 5px;
}
.mdp_oublie a {
  color: #000;
  text-decoration: none;
}
.clear {
  clear: both;
}
.afficher_pop_up {
  border-radius: 5px;
  border: 1px solid #000;
  background: #eee;
  display: initial;
  position: fixed;
  right: 0px;
  top: 0px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  max-width: 250px;
}
#gestion_compte [contenteditable] {
  background-color: #fff;
  padding: 5px;
}
#gestion_compte button {
  width: 100%;
  padding: 10px;
  margin: 5px;
}
#gestion_compte .groups {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}
#gestion_compte .groups .membre {
  padding: 15px;
}
#gestion_compte .groups_existant {
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  margin: 10px 0px;
  padding: 10px 2px;
}
#gestion_compte .afficher_membres {
  position: fixed;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}
#gestion_compte .statut_confirme {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  color: #6b8e23;
}
#gestion_compte .statut_a_confirmer {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  background-color: #ffa500;
}
#gestion_compte .message_erreur {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  color: #f00;
}
#gestion_compte .message_ok {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  color: #6b8e23;
}
.afficher_none {
  display: none;
}
.afficher_message_erreur {
  font-size: 0.8em;
  color: #f00;
  margin-bottom: 10px;
}
.clickable {
  cursor: hand;
}
main {
  width: 100%;
}
main .index {
  position: relative;
  font-family: DancingScript-R;
  font-weight: bold;
  font-size: 4em;
  color: #258;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: contains;
}
main .index button {
  color: #f0f8ff;
  padding: 10px;
  font-size: 1.2em;
  border: 1px;
  border-radius: 8px;
  cursor: hand;
  background-image: linear-gradient(to right, #92c2fd, #258);
  width: 40%;
}
main .index .args {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
main .index .wrapper {
  width: 20%;
  margin: 25px;
}
main .index .wrapper .titre {
  font-size: 1em;
  font-weight: 500;
}
main .index .wrapper .text {
  font-size: 0.8em;
  font-weight: normal;
}
main .hero_text {
  position: absolute;
}
#introduction {
  width: 100%;
  height: 100%;
}
.boutons_tirage {
  width: 33%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.liste_anges {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-flow: row wrap;
}
.liste_anges .explorer,
.liste_anges .aleatoire,
.liste_anges .manuel {
  margin: 10px;
  border: 1px solid #6b8e23;
  border-radius: 5px;
  padding: 10px;
}
.liste_anges .explorer {
  background-color: #fff;
}
.liste_anges .aleatoire {
  background-color: #9acd32;
}
.liste_anges .manuel {
  background-color: #f00;
}
.liste_anges .carte_ange {
  height: 120px;
}
.masque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000;
}
.container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
#carte {
  opacity: 1;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}
input {
  caret-color: #a0522d;
  padding: 8px;
  color: #258;
  margin: 5px 0px 5px 0px;
  border: 2px solid #92c2fd;
  border-radius: 5px;
  background-color: #f0f8ff;
}
inputfocus {
  box-shadow: 0px 0px 30px #deb887;
}
mark {
  background-color: #87ceeb;
  padding: 2px;
  line-height: 1.2em;
}
.form_title {
  color: #808000;
  font-weight: 500;
}
