
/* line 297 : /var/www/cartes_ange/app/css/stylus/styles.styl */

/* line 1 : /usr/bin/node/lib/node_modules/stylus/lib/functions/index.styl */

/* line 44 : /var/www/cartes_ange/app/css/stylus/styles.styl */
@font-face {
  font-family: FontAwesome;
  src: url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
  font-style: normal;
}

/* line 48 : /var/www/cartes_ange/app/css/stylus/styles.styl */
@font-face {
  font-family: DancingScript-B;
  font-style: normal;
  src: url("/app/fonts/DancingScript-Bold.ttf");
}

/* line 52 : /var/www/cartes_ange/app/css/stylus/styles.styl */
@font-face {
  font-family: DancingScript-R;
  font-style: normal;
  src: url("/app/fonts/DancingScript-Regular.ttf");
}

/* line 57 : /var/www/cartes_ange/app/css/stylus/styles.styl */
@font-face {
  font-family: Cantarella-B;
  font-style: normal;
  src: url("/app/fonts/Cantarell-Bold.ttf");
}

/* line 61 : /var/www/cartes_ange/app/css/stylus/styles.styl */
@font-face {
  font-family: Cantarella-R;
  font-style: normal;
  src: url("/app/fonts/Cantarell-Regular.ttf");
}

/* line 65 : /var/www/cartes_ange/app/css/stylus/styles.styl */
@font-face {
  font-family: Cantarella-O;
  font-style: normal;
  src: url("/app/fonts/Cantarell-Oblique.ttf");
}

/* line 70 : /var/www/cartes_ange/app/css/stylus/styles.styl */
@font-face {
  font-family: DancingScript;
  font-style: normal;
  src: url("/app/fonts/DancingScript-Bold.ttf");
}

/* line 79 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui {
  height: 100%;
  font-family: Cantarella-R, sans serif;
  font-size: 0.9em;
}

/* line 87 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui #logo {
  font-family: DancingScript-R, sans serif !important;
  font-size: 1.5em;
}

/* line 90 : /var/www/cartes_ange/app/css/stylus/styles.styl */

/* line 91 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui nav a {
  color: #258;
  background-color: #fff;
  border: 0;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 15px 5px 0px;
  color: #258;
}

/* line 92 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui nav a hover {
  background-color: #f00;
}

/* line 96 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui .signature {
  font-size: 0.8em;
  margin-top: 10px;
}

/* line 99 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

/* line 104 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .index {
  position: relative;
  font-family: DancingScript-R;
  font-weight: bold;
  font-size: 4em;
  color: #258;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: contains;
}

/* line 114 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .index button {
  color: #f0f8ff;
  padding: 10px;
  font-size: 1.2em;
  border: 1px;
  border-radius: 8px;
  cursor: hand;
  background-image: linear-gradient(to right, #92c2fd, #258);
  width: 40%;
}

/* line 123 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .index .args {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* line 127 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .index .wrapper {
  width: 20%;
  margin: 25px;
}

/* line 130 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .index .wrapper .titre {
  font-size: 1em;
  font-weight: 500;
}

/* line 133 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .index .wrapper .text {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 136 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .hero_text {
  position: absolute;
}

/* line 138 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main #introduction {
  width: 100%;
  height: 100%;
}

/* line 141 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .liste_anges {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-flow: row wrap;
}

/* line 149 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .liste_anges .explorer,
#ui main .liste_anges .aleatoire,
#ui main .liste_anges .manuel {
  margin: 10px;
  border: 1px solid #6b8e23;
  border-radius: 5px;
  padding: 10px;
}

/* line 154 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .liste_anges .explorer {
  background-color: #fff;
}

/* line 156 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .liste_anges .aleatoire {
  background-color: #9acd32;
}

/* line 158 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .liste_anges .manuel {
  background-color: #f00;
}

/* line 160 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .liste_anges .carte_ange {
  position: relative;
  height: 120px;
}

/* line 163 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .liste_anges .nouveau_tirage {
  background-image: url("../img/rejouer.png");
  background-position: center center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  width: 50%;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid #258;
  color: #258;
  font-weight: bold;
  font-size: 2.5em;
}

/* line 182 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .masque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000;
}

/* line 190 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui main .container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

/* line 201 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui footer {
  width: 100%;
  text-align: right;
  font-size: 0.8em;
  padding: 10px;
  background-color: #258;
  color: #fff;
}

/* line 208 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui #logged {
  text-align: center;
}

/* line 210 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#ui header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #258;
  color: #fff;
}

/* line 218 : /var/www/cartes_ange/app/css/stylus/styles.styl */

/* line 219 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up #form_authentication {
  position: relative;
}

/* line 221 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .form_authentication-auth-button {
  width: 100%;
  background-color: #fff;
  border: 0;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 15px 5px 0px;
  color: #258;
}

/* line 224 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .form_authentication-creer-compte-button {
  text-align: center;
}

/* line 226 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .form_authentication-creer-compte-button button {
  padding: 5px;
}

/* line 228 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .form_creer_compte-button {
  text-align: right;
}

/* line 230 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .form_creer_compte-button button {
  padding: 5px;
}

/* line 232 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up #pseudo,
#pop_up #mdp,
#pop_up #email,
#pop_up #confirmer_mdp {
  width: 100%;
  margin: margin_s;
  margin-bottom: 15px;
}

/* line 236 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .mdp_oublie {
  font-size: 0.8em;
  float: right;
  margin-right: 5px;
}

/* line 237 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .mdp_oublie a {
  color: #000;
  text-decoration: none;
}

/* line 243 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .frequence_change_succes,
#pop_up .frequence_change_erreur {
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

/* line 247 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .frequence_change_erreur:after {
  content: '\2716';
  color: #f00;
}

/* line 250 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .frequence_change_succes:after {
  content: '\2714';
  color: #6b8e23;
}

/* line 253 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .participants {
  margin: 10px 5px 10px 5px;
}

/* line 255 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .afficher_message_erreur {
  font-size: 0.8em;
  color: #f00;
  margin-bottom: 10px;
}

/* line 259 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up #gestion_compte {
  padding: 10px;
  margin: 5px;
}

/* line 260 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up #gestion_compte [contenteditable] {
  background-color: #fff;
  padding: 5px;
}

/* line 263 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up #gestion_compte button {
  width: 100%;
}

/* line 267 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .groups {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

/* line 271 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .groups .membre {
  padding: 15px;
}

/* line 273 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .groups_existant {
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  margin: 10px 0px;
  padding: 10px 2px;
}

/* line 281 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .afficher_membres {
  position: fixed;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}

/* line 287 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .statut_confirme {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  color: #6b8e23;
}

/* line 290 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .statut_a_confirmer {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  background-color: #ffebcd;
}

/* line 293 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .message_erreur {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  color: #f00;
}

/* line 296 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#pop_up .message_ok {
  text-align: right;
  font-size: 0.6em;
  padding: 2px;
  color: #6b8e23;
}

/* line 299 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#carte {
  opacity: 1;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}

/* line 305 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.carte_afficher_detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 15px;
}

/* line 310 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.carte_afficher_detail .carte_ange_grand_format {
  margin: 15px 25px 0 0;
}

/* line 313 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.carte_afficher_detail mark {
  color: #fff;
  background-color: #258;
}

/* line 320 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.afficher_none {
  display: none;
}

/* line 322 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.afficher_pop_up {
  border-radius: 5px;
  border: 1px solid #000;
  background: #eee;
  display: initial;
  position: fixed;
  right: 0px;
  top: 0px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  max-width: 250px;
}

/* line 334 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.afficher_pop_up .form_title {
  color: #808000;
  font-weight: 500;
}

/* line 336 : /var/www/cartes_ange/app/css/stylus/styles.styl */
#log_button,
#close_div {
  cursor: hand;
}

/* line 338 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.clickable {
  cursor: hand;
}

/* line 340 : /var/www/cartes_ange/app/css/stylus/styles.styl */
[v-cloak] {
  display: none;
}

/* line 342 : /var/www/cartes_ange/app/css/stylus/styles.styl */
mark {
  background-color: #87ceeb;
  padding: 2px;
  line-height: 1.2em;
}

/* line 346 : /var/www/cartes_ange/app/css/stylus/styles.styl */
.clear {
  clear: both;
}

/* line 348 : /var/www/cartes_ange/app/css/stylus/styles.styl */
input {
  caret-color: #a0522d;
  padding: 8px;
  color: #258;
  margin: 5px 0px 5px 0px;
  border: 2px solid #92c2fd;
  border-radius: 5px;
  background-color: #f0f8ff;
}

/* line 349 : /var/www/cartes_ange/app/css/stylus/styles.styl */
inputfocus {
  box-shadow: 0px 0px 30px #deb887;
}
/*# sourceMappingURL=styles.css.map */