// Variables
padding_n = 10px
padding_s = 5px
padding_l = 15px

// styles
#ui
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	height: 100%

#logged
	text-align: center

header
	width: 100%
	padding: padding_n
	display: flex
	justify-content: space-between
	align-items: center
	background-color: #258
	color: #FFF

#log_button, #close_div
	cursor: hand

main
	display: flex
	flex-direction: column
	justify-content: flex-end

footer
	width: 100%
	text-align: center
	padding: padding_n
	background-color: #258
	color: #FFF

.sign
	font-size: 0.8em
	margin-top: padding_n

#form_authentication
	position: relative

#fermer_authentication_form
	position: absolute
	right: 0px
	top: 5px


.form_authentication-auth-button
	width: 100%	
	margin: 5px

.form_authentication-creer-compte-button
	text-align: center
	button
		padding: padding_s

.form_creer-compte-button
	text-align: right
	button
		padding: padding_s

#pseudo, #mdp, #email, #confirmer_mdp
	width: 100%
	margin: margin_s
	margin-bottom: padding_l

.mdp_oublie
	a
		color: black
		text-decoration: none

	font-size: 0.8em
	float: right

.clear
	clear: both

.afficher_pop_up
	border-radius: padding_s
	border: 1px solid black
	background: white
	display: initial
	position: fixed
	right: 0px
	margin: 10px
	padding: 10px
	width: 250px
	max-width: 250px

#gestion_compte
	button
		width: 100%
		padding: padding_n
		margin: padding_s

.afficher_none
	display: none

.afficher_message_erreur
	font-size: 0.8em
	color: red
	margin-bottom: padding_n

.clickable
	cursor: hand

.groups
	border: 1px solid black
	border-radius: 5px
	padding: padding_n

	.membre
		padding: padding_l

.afficher_membres
	position: fixed
	top:25px
	left: 25px
	padding: padding_l
	border-radius: padding_s
	border: 1px solid black
	background-color: white

main
	width: 100%
	.index
		height: 100%
		background-image:url( ../img/joker.jpg ) 
		background-repeat: no-repeat
		background-size: auto
		display: flex
		flex-flow: column nowrap
		align-items: center
		justify-content: center
		button
			color: aliceblue
			padding: padding_n
			font-size: 1.2em
			border: 1px
			border-radius: 8px
			cursor: hand
			background-image: linear-gradient( to right, rgb(146, 194, 253), #258 )
			width: 40%
			

#introduction
	width: 100%
	height: 100%

.boutons_tirage
	width: 33%
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	

.liste_anges
	position: relative
	width: 100%
	height: 100%
	display: flex
	justify-content: space-evenly
	align-content: space-evenly
	flex-flow: row wrap
	.explorer, .aleatoire, .manuel
		margin: 10px
		border: 1px solid olivedrab
		border-radius: 5px
		padding: 10px
	.explorer
		background-color: white
	.aleatoire
		background-color: yellowgreen
	.manuel
		background-color: red
	
.masque
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	opacity: 0.7
	background-color: black	

.container
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	opacity: 1	
	display: flex
	justify-content: center
	flex-flow: row wrap
	align-items: center

#carte
	opacity: 1
	margin: padding_l
	padding: padding_l
	background-color: white

input
	&:focus
		box-shadow: 0px 0px 30px burlywood
	caret-color: sienna
	padding: 8px
	color: sienna
	margin: 5px
	border: 2px solid crimson
	padding: padding_s
	border-radius: padding_s
	background-color: aliceblue
