// *****************************************
// VARIABLES
// *****************************************
// Size 
padding_s = 5px
padding_n = 10px
padding_l = 15px
padding_xl = 30px

// Colors
main_blue = #258
soft_blue = #92c2fd
success_color = olivedrab
error_color = red

// Fonts
logo_font = DancingScript-R



// *****************************************
// MIXINS
// *****************************************
default_button()
	background-color white
	border 0
	padding 7px
	border-radius 5px
	margin 5px 15px 5px 0px
	color #258

statut( a )
	text-align right
	font-size a 
	padding 2px

form_title()
	color olive
	font-weight 500

nav_button()
	& hover
		background-color red
	color main_blue
	default_button()

succes( a )
	statut( a )
	color success_color

erreur( a )
	statut( a )
	color error_color
// *****************************************
// FONT FACES
// *****************************************
@font-face
	font-family FontAwesome
	src url(https://use.fontawesome.com/releases/v5.6.3/css/all.css)
	font-style normal
@font-face 
	font-family DancingScript-B
	font-style normal
	src url(/app/fonts/DancingScript-Bold.ttf)
@font-face 
	font-family DancingScript-R
	font-style normal
	src url(/app/fonts/DancingScript-Regular.ttf)

@font-face 
	font-family Cantarella-B
	font-style normal
	src url(/app/fonts/Cantarell-Bold.ttf)
@font-face 
	font-family Cantarella-R
	font-style normal
	src url(/app/fonts/Cantarell-Regular.ttf)
@font-face 
	font-family Cantarella-O
	font-style normal
	src url(/app/fonts/Cantarell-Oblique.ttf)

@font-face 	
	font-family DancingScript
	font-style normal
	src url(/app/fonts/DancingScript-Bold.ttf)
	

// *****************************************
// STYLES
// *****************************************
#ui
	// display flex
	// flex-direction column
	// align-items center
	// justify-content space-between
	height 100%
	font-family Cantarella-R, sans serif
	font-size 0.9em
	#logo
		font-family DancingScript-R, sans serif !important
		font-size 1.5em
	nav
		@media screen and (max-width: 870px){
			display none
		}
		a
			nav_button()
	.mobile_nav
		display none
		a
			nav_button()
		@media screen and (max-width: 870px){
			display initial
		}
	.signature
		font-size 0.8em
		margin-top padding_n
	main
		display flex
		flex-direction column
		justify-content flex-end
		width 100%
		.index
			width 100%
			height 40%
			position relative
			display flex
			flex-flow row nowrap
			justify-content center
			align-items center
			font-family: logo_font
			font-weight bold
			font-size 4em
			color main_blue
			background-position center center
			background-size round
			background-repeat repeat
			background-size contain
			background-image: url(../img/Hero_Image.png)
			button
				color aliceblue
				padding padding_n
				font-size 1.2em
				border 1px
				border-radius 8px
				cursor hand
				background-image linear-gradient( to right, rgb(146, 194, 253), #258 )
				width 40%
		.args
			display flex
			flex-flow row wrap
			justify-content space-around
			margin 20px 0
		.wrapper
			width 40%
			margin 25px
			padding padding_s
			@media screen and (min-width: 1000px){
				width 25%
			}
			@media screen and (max-width: 500px){
				width 95%
			}
			.img
				width 100%
			.content
				padding padding_n	
			.titre
				font-family DancingScript-R
				font-size 1.8em
				font-weight 900
				color main_blue
				margin 10px 0px
			.text
				font-family Cantarella-R
				font-size 0.8em			
				font-weight normal
				color main_blue
		.hero_text
			position: absolute
			padding: 25px
			text-align center
		#introduction
			width 100%
			height 100%
		.liste_anges
			position relative
			width 100%
			display flex
			justify-content space-evenly
			align-content space-evenly
			flex-flow row wrap
			.explorer, .aleatoire, .manuel
				margin 10px
				border 1px solid success_color
				border-radius 5px
				padding 10px
			.explorer
				background-color white
			.aleatoire
				background-color yellowgreen
			.manuel
				background-color red
			.carte_ange
				position relative
				height 120px
			.nouveau_tirage
				background-image url(../img/rejouer.png)
				background-position center center
				background-repeat no-repeat
				position absolute
				display flex
				width 50%
				flex-flow row nowrap
				justify-content space-around
				align-items center
				height 50%
				background-color white
				border-radius 20px
				border 5px solid main_blue
				color main_blue
				font-weight bold
				font-size 2.5em

		.masque
			position fixed
			top 0px
			left 0px
			width 100%
			height 100%
			opacity 0.7
			background-color black	
		.container
			position fixed
			top 0px
			left 0px
			width 100%
			height 100%
			opacity 1	
			display flex
			justify-content center
			flex-flow row wrap
			align-items center
			@media screen and (max-width: 870px){
				display initial
			}
	footer
		display flex
		flex-flow row nowrap
		justify-content space-between
		width 100%
		text-align right
		font-size 0.8em
		padding padding_n
		background-color #258
		color #FFF
	#logged
		text-align center
	header
		width 100%
		padding padding_n
		display flex
		justify-content space-between
		align-items center
		background-color #258
		color #FFF
#pop_up
	#form_authentication
		position relative
	.form_authentication-auth-button
		width 100%	
		default_button()
	.form_authentication-creer-compte-button
		text-align center
		button
			padding padding_s
	.form_creer_compte-button
		text-align right
		button
			padding padding_s
	#pseudo, #mdp, #email, #confirmer_mdp
		width 100%
		margin margin_s
		margin-bottom padding_l
	.mdp_oublie
		a
			color black
			text-decoration none
		font-size 0.8em
		float right
		margin-right 5px
	.frequence_change_succes, .frequence_change_erreur
		font-style normal
		font-weight bold
		text-decoration none
	.frequence_change_erreur:after
		content '\2716'
		color error_color
	.frequence_change_succes:after
		content '\2714'
		color success_color
	.participants
		margin 10px 5px 10px 5px
	
		& ~ div
			margin 10px 0 0 0
	.afficher_message_erreur
		font-size 0.8em
		color red
		margin-bottom padding_n
	#gestion_compte
		[contenteditable]
			background-color white
			padding padding_s
		button
			width 100%
		margin padding_s
	.groups
		height 350px
		border 1px solid black
		border-radius 5px
		padding padding_n
		overflow hidden
		overflow-y scroll
		input
			width 80%
		.membre
			margin 10px 0 0 0
			input
				width 100%
		.choix-frequence
			input
				width initial
	.groups_existant
		height 50px
		display flex
		flex-flow row wrap
		justify-content  space-between
		align-content space-around
		margin 10px 0px
		padding 10px 2px
	.afficher_membres
		position fixed
		padding padding_l
		border-radius padding_s
		border 1px solid black
		background-color white
	.statut_confirme
		statut( 0.6em )
		color success_color
	.statut_a_confirmer
		statut( 0.6em )
		background-color blanchedalmond
	.message_erreur
		erreur( 0.6em )
	.message_ok
		succes( 0.6em )
#carte
	opacity 1
	margin padding_l
	padding padding_l
	background-color white
	@media screen and (max-width: 870px){
		overflow-x scroll
	}

@media screen and (max-width: 500px)
	#carte header
		flex-direction column
			

.carte_afficher_detail
	display flex
	flex-flow row nowrap
	justify-content space-around
	padding padding_l
	mark
		color white
		background-color main_blue

@media screen and (min-width: 801px)
	.carte_afficher_detail
		display flex
	.carte_ange_grand_format
		margin 15px 25px 0 0
		img
			width 500px
@media screen and (min-width: 501px)
	.carte_ange_grand_format
		float left
		margin 15px 25px 0 0
		img
			width 300px

@media screen and (max-width: 500px)
	.carte_afficher_detail
		flex-direction column
		overflow-y scroll
	.carte_ange_grand_format
		margin 0
		img
			width 100%
	
.afficher_menu_navigation
	position absolute
	top 0px
	left 0px
	width 50%
	height 100%
	z-index 1000
	background-color white
	color main_blue
	font-size 1.5em
	div
		padding padding_n
		border-bottom 1px solid main_blue
		a	
			color main_blue

.afficher_menu_navigation-enter-active, .afficher_menu_navigation-leave-active
	left 0px
	transition left 0.5s

.afficher_menu_navigation-enter, .afficher_menu_navigation-leave-to
	left -500px
	transition left 0.5s


.contact_form
	padding padding_xl
	background-image url(../img/angel_form_2.jpg)
	background-attachment scroll
	background-repeat no-repeat
	background-position center 40%
	background-size cover

	.form_title
		font-family logo_font
		font-size 2em
		color main_blue
	.buttons_line
		float right
		padding padding_n
	form
		padding padding_xl
	label
		color main_blue
	textarea
		width 100%
		height 10vh
	input
		width 100%
	.message_succes
		succes( 1em )
	.message_erreur
		erreur( 1em )
// *****************************************
// GLOBAL CLASSES
// *****************************************
.afficher_none
	display none
.afficher_pop_up
	border-radius padding_s
	border 1px solid black
	background #eee
	display initial
	position fixed
	right 0px
	top 0px
	margin 10px
	padding 10px
	width 260px
	max-width 250px
	@media screen and (max-width: 500px){
		display initial
	}
	.form_title
		form_title()
#log_button, #close_div
	cursor hand
.clickable
	cursor hand
[v-cloak]	
	display none
mark
	background-color skyblue
	padding 2px
	line-height 1.2em
.clear
	clear both
input, textarea
	&focus
		box-shadow 0px 0px 30px burlywood
	caret-color sienna
	padding 8px
	color main_blue
	margin 5px 0px 5px 0px
	border 2px solid soft_blue
	border-radius padding_s
	background-color aliceblue

.separateur
	height 20px
	background-color main_blue
