html
	head
		style( type='text/css' )
			h1 { color: yellow; }
	body( style= { 'font-family': 'verdana, sans serif' } )

		include header_email.pug

		p( style= { 'color': '#258' } ) Bienvenue à vous, #[strong( style= { 'text-tranform': 'capitalize' } ) #{ pseudo } ] !
		div( style= { 'padding': '30px', 'color': '#258', 'margin-bottom': '50px' } ) Nous espérons que vous apprécierez la compagnie des Anges.
			br
			br
			br
			a( href=href ) Cliquez ici pour confirmer votre addresse email !
		div( style= { 'padding': '30px', 'color': '#258', 'margin-bottom': '20px' } ) #{ no_action }

		include footer_email.pug
			
