div( style = { 'background-color': '#258', 'text-align': 'left', 'color': 'white', 'padding': '10px', 'font-weight': 'bold' } ) Messages des Anges
	img( style = { 'float': 'right', 'height': '50px' } alt='image d un petit ange sur fond bleu' src='https://raw.githubusercontent.com/yannick9letallec/cartes_ange/master/app/img/petit_ange.jpeg' )
	br
	br
	span( style={ 'padding': '0px', 'font-size': '0.7em' } ) 
		| Application réalisée par Yannick Le Tallec
	
