div( style = { 'background-color': '#258', 'text-align': 'left', 'color': 'white', 'padding': '10px', 'font-weight', 'bold' } ) Messages des Anges
	p( style={ 'padding': '0px', 'font-size': '0.7em' } ) Application réalisée par Yannick Le Tallec
	
