#ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#logged {
  text-align: center;
}
header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #258;
  color: #fff;
}
#log_button,
#close_div {
  cursor: hand;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #258;
  color: #fff;
}
.sign {
  font-size: 0.8em;
  margin-top: 10px;
}
#form_authentication {
  position: relative;
}
#fermer_authentication_form {
  position: absolute;
  right: 0px;
  top: 5px;
}
.form_authentication-auth-button {
  width: 100%;
  margin: 5px;
}
.form_authentication-creer-compte-button {
  text-align: center;
}
.form_authentication-creer-compte-button button {
  padding: 5px;
}
.form_creer-compte-button {
  text-align: right;
}
.form_creer-compte-button button {
  padding: 5px;
}
#pseudo,
#mdp,
#email,
#confirmer_mdp {
  width: 100%;
  margin: margin_s;
  margin-bottom: 15px;
}
.mdp_oublie {
  font-size: 0.8em;
  float: right;
}
.mdp_oublie a {
  color: #000;
  text-decoration: none;
}
.clear {
  clear: both;
}
.afficher_pop_up {
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  display: initial;
  position: fixed;
  right: 0px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  max-width: 250px;
}
#gestion_compte button {
  width: 100%;
  padding: 10px;
  margin: 5px;
}
.afficher_none {
  display: none;
}
.afficher_message_erreur {
  font-size: 0.8em;
  color: #f00;
  margin-bottom: 10px;
}
.clickable {
  cursor: hand;
}
.groups {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}
.groups .membre {
  padding: 15px;
}
.afficher_membres {
  position: fixed;
  top: 25px;
  left: 25px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}
main {
  width: 100%;
}
main .index {
  height: 100%;
  background-image: url("../img/joker.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
main .index button {
  color: #f0f8ff;
  padding: 10px;
  font-size: 1.2em;
  border: 1px;
  border-radius: 8px;
  cursor: hand;
  background-image: linear-gradient(to right, #92c2fd, #258);
  width: 40%;
}
.explorer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-flow: row wrap;
}
.explorer .carte {
  margin: 10px;
  border: 1px solid #6b8e23;
  padding: 10px;
}
.masque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000;
}
.container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
#carte {
  opacity: 1;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}
input {
  caret-color: #a0522d;
  padding: 8px;
  color: #a0522d;
  margin: 5px;
  border: 2px solid #dc143c;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f8ff;
}
input:focus {
  box-shadow: 0px 0px 30px #deb887;
}
